/*
 *  css/main.css
 */

body {
  text-align: center;
  background-color: #F3ECE2;
} 

div#name {
  font-size: 36px;
  width: 640px;
  height: 56px;
  margin: auto;
  font-family: cursive;
}

div#links {
  color: gray;
  font-size: 20px;
  width: 640px;
  height: 48px;	
  margin: auto;
  font-family: cursive;
}
 
div.shell {
  background-color: #3284BF;
  width: 640px;
  height: 480px;
  margin: auto;
  text-align: left;
  color: #FFE800;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}

input.shell {
  background-color: #3284BF;
  border: none;
  color: #FFE800;
  font-family: sans-serif;
  font-size:16px;
  font-weight: bold;
  font-family: monospace;
}