/*
 *  css/main.css
 */

body {
  text-align: center;
  background-color: #F3ECE2;
} 

div#name {
  font-size: 36px;
  width: 640px;
  height: 56px;
  margin: auto;
  font-family: cursive;
}

div#link {
  color: gray;
  font-size: 20px;
  width: 640px;
  height: 48px;	
  margin: auto;
  font-family: cursive;
  cursor: pointer;
}
 
div.shell {
  background-color: black;
  width: 640px;
  height: 480px;
  margin: auto;
  text-align: left;
  color: white;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  overflow-y: auto;
}

input.shell {
  background-color: black;
  border: none;
  color: white;
  font-family: sans-serif;
  font-size:16px;
  font-weight: bold;
  font-family: monospace;
}

div.footer {
  width: 640px;
  text-align: left;
  margin: auto;
}

a {
  color: gray;
  text-decoration: none;
}